@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "cameraObscura";
  src: url("./fonts/camera_obscura/CameraObscuraDEMO.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-family: "cameraObscura";
}
